<div>
    <div>
        <form id="form_login">
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email"><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="age"><br>

            <button type="submit" id="login"> Login </button>
        </form>
    </div>
</div>

<script src="/js/session.js"></script>