<div>
    <form action="">
        <div>
            <h4> Ingrese su correo electronico y nueva passwordd </h4>
        </div>
        <input type="text" placeholder="email" name="email" id="email"/><br>
        <input type="password" placeholder="new-password" name="new-password" id="new-password" /><br>
        <button type="submit" id="restore-password"> Restore password </button><br>
    </form>
</div>
<script src="/js/session.js"></script>