<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>

    <title> Products Real Time Products </title>
</head>
<body>
    <form id="add-products-form">
        <div>
            <label for="label-title"> Title </label>
            <input type="text" id="title" required>
        </div>
        <div>
            <label for="label-description"> Description </label>
            <input type="text" id="description" required>
        </div>
        <div>
            <label for="label-price"> Price </label>
            <input type="number" id="price" required>
        </div>
        <div>
            <label for="label-thumbnails"> Thumbnails </label>
            <input type="text" id="thumbnails">
        </div>
        <div>
            <label for="label-status"> Status </label>
            <select name="status" id="status">
                <option value="False"> False </option>
                <option value="True"> True </option>
            </select>
        </div>
        <div>
            <label for="label-code"> Code </label>
            <input type="text" id="code" required>
        </div>
        <div>
            <label for="label-stock"> Stock </label>
            <input type="number" id="stock" required>
        </div>
        <div>
            <label for="label-category"> Category </label>
            <input type="text" id="category" required>
        </div>
        <button  type="submit" id="send-button" > Agregar producto </button>
    </form>
    <div id="realTimeProductsList">

    </div>
    <div id="realTimeProductsList"></div>
    <script src="/js/realTimeProducts.js"></script>
</body>
</html>